<section>
    <div class="container-fluid">
        <div class="row">
            <div class="p-0">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item ">
                            <img src="../../../assets/images/eyecare-banner.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item active">
                            <img src="../../../assets/images/eyecare-carousal.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-0 banner-btm">

                <div class="col-md-4 find-doctor">
                    <img src="../../../assets/images/doctors.png" alt="doctor">
                    <a href="#" routerLink="/doctors">
                        <h3>Find a Doctor</h3>
                    </a>
                    <p>Search by name, specialty, and location</p>
                </div>


                <div class="col-md-4 centers">
                    <img src="../../../assets/images/centres.png" alt="centers">
                    <a href="#" routerLink="/centres">
                        <h3>Our <br>Centres</h3>
                    </a>
                    <p>Visit your nearest centre now</p>
                </div>


                <div class="col-md-4 book-appointment">
                    <img src="../../../assets/images/book-appointment.png" alt="book appointment">
                    <a href="#" routerLink="/book-an-appointment">
                        <h3>Book an appointment</h3>
                    </a>
                    <p>Schedule your visit online</p>
                </div>

            </div>
        </div>
    </div>
</section>